<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.admin_panel') %></span>

  <div class="nav-admin user">
    <%= t('layouts.application.welcome_header', current_user: current_user.email, current_user_id: current_user.id) %> |
    <%= link_to t('layouts.application.log_out'), destroy_user_session_path, method: :delete %>
  </div>
</div>