<% if @test_passsage.successfully? %>
  <h1 style="color: green"> <%= t('.result_success', title: @test_passsage.test.title) %></h1>
<% else %>
  <h1 style="color: red">  <%= t('.result_failed', title: @test_passsage.test.title) %></h1>
<% end %>

<h2><%= t('.success_rate', rate: @test_passsage.result_in_percentage) %></h2>

<%= link_to 'Все тесты', tests_path %>